.button{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #220634;
    border-radius: 15px;
    color: #3b0c5d;
    font-size: 18px;
    transition: 0.2s;
}
.button:hover{
    background-color: #c3c3c3;
}